Hello [$CAMPUS_ADMIN_NAME],<br/><br/>

I would like to extend and externship/employment opportunity to your student <b>[$STUDENT_NAME]</b> whose student Id is <b>[$STUDENT_ID].  Please contact our office to expedite this request.</b><br/>
<br/>

Thank You,<br/>
[$PARTNER_NAME]<br/>
[$PARTNER_EMAIL]<br/>
[$PARTNER_MOBILE]