Hello [$CAMPUS_ADMIN_NAME],<br/><br/>

I would like to request you thay we want to give expternship to your campus's student <b>[$STUDENT_NAME]</b> which have student Id as <b>[$STUDENT_ID]</b>.<br/>
<br/>
Thank You,<br/>
[$PARTNER_NAME]<br/>
[$PARTNER_EMAIL]<br/>
[$PARTNER_MOBILE]