
/* Liferay CSS : START*/

.login-signup-btn .portlet-boundary {
    display: inline-block;
    float: right;
    padding-left: 15px;
}

.login-signup-btn .portlet-boundary .portlet-content {
    padding: 0;
}

.form-group .control-label{
	display: inline-block;
    float: left;
    width: 22%;
    margin-right: 3%;
}

.form-group input.form-control, .form-group select.form-control, .form-group textarea.form-control  {
	display: inline-block;
    float: left;
    width: 75%;
}

.add-student-fm .form-group input.form-control, .add-student-fm .form-group select.form-control, .add-student-fm .form-group textarea.form-control  {
	display: inline-block;
    float: left;
    width: 50%;
}

.form-group .form-validator-stack{
	margin: 0 0 0 25%;
    clear: both;
}

.form-group .text-warning{
	color: #7387A5!important;
    font-size: 7px;
    vertical-align: text-top;
}

#p_p_id_com_medicus_home_page_portlet_portlet_MedicusHomePageModulePortlet_ .lfr-alert-wrapper{
	    width: 650px;
    z-index: 99999;
    text-align: center;
    height: 100px !important;
}

#p_p_id_com_medicus_home_page_portlet_portlet_MedicusHomePageModulePortlet_ .lfr-alert-container{
	    z-index: 9999;
}

#p_p_id_com_medicus_home_page_portlet_portlet_MedicusHomePageModulePortlet_ .alert-dismissable .close{
	right: 0 !important;
}

.input-group-addon {
	position: absolute;
    width: 40px;
    height: 34px;
    right: 21%;
    z-index: 99999;
    top: 0;
}

.approve-request-box label{
			text-align: left !important;
		}
		
.col-md-12.portlet-column.portlet-column-only {
    padding: 0;
}	

 .home-yt-vid{    
  	padding: 0;
    margin-top: 20px;
  }
  
  .sponsors img{width:100%}
  .sponsors .first-row div{margin-bottom:20px}
	
.w3ls-section {
    padding: 3em 0 !important;
}

.zoom-img{
	width: 262px;
    height: 220px;
}

.lb-image{
	width: 451px !important;
    height: 300px !important;	
}

.modal-backdrop{
	z-index: 1032 !important; 	
}

.lightbox{
    left: 18% !important;
}

.lb-outerContainer{
	float: left;
}

.lb-dataContainer{
	padding: 0px;
    margin-left: 20px;
    float: left;
}

.lb-details{
	    margin-top: 0;
}

.lb-details .lb-caption h3{
	color: #fff;
}


#callaction, #service, #doctor, #facilities, #testimonial, #pricing, #partner, footer .topside{display:none}


#registrationform .modal-lg{width:80%}
#registrationform .modal-body{padding-right:7%}
#registrationform .inputfield, #loginform .inputfield, #forgotpassform .inputfield{
	padding: 0;
    padding-left: 5px;
}
#registrationform .inputfield input, #registrationform .inputfield select, #loginform .inputfield input,
#forgotpassform .inputfield input{
	border-radius: 50px;
    padding: 6px 20px;
}
#registrationform .control-label, #loginform .control-label{font-size:14px; padding:0;padding-top:5px}
#registrationform .form-horizontal .form-group{
	margin-right: -0px;
    margin-left: 0px;
    padding:0
}
#registrationform .vl{
	border-left: 1px solid #eee;
    height: 220px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.frgt-link{    font-size: 14px;
    font-family: 'Open Sans', sans-serif;}


/* Liferay CSS : END */