Hello Medicus Team,<br/><br/>

 [$FIRST_NAME] [$LAST_NAME] had sent contact us request as below. <br/><br/>
 
 <b> Email : </b> [$EMAIL] <br/><br/>
 
 <b>Subject :</b> [$SUBJECT] <br/><br/>
 
 <b>Message :</b> [$MESSAGE]