Hello [$PARTNER_NAME],<br/>

Your Interview request for Student <b>[$STUDENT_NAME]</b> who as Student Id is <b>[$STUDENT_ID]</b> is <b>[$ACTION]</b>. <br/>

<b>Comments:</b> [$COMMENTS]
<br/>

Thank You,<br/>
[$CAMPUS_NAME]<br/>